
<div class="widgetholder widgetholder-overview-aside-top">
    <div class="widget " data-widget-url="/async/widget/4c8f4e69c4df51c4b4dfe6e412dbde7f?_locale=en">
        <div class="panel panel-default panel-news">
            <div class="panel-heading">
                <i class="fa fa-link" aria-hidden="true"></i> Public preview link
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{ app.request.server.get('HTTP_X_FORWARDED_PROTO') }}://{{ app.request.server.get('HTTP_HOST') }}{{ url }}" id="previewlink">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="previewlink-copy-button" data-toggle="tooltip" data-placement="bottom" data-copytarget="#previewlink" title="Copy to Clipboard">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Share this link with anyone to preview an unpublished item</small>
                </div>
            </div>
        </div>
    </div>
</div>
